.about{
    padding: 10px 10%;
}

.image2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem; 
}
.img{
    
    width: 95%;
    height: 50vh;
    margin-bottom: 20px;
}
.test {
    border-style: solid;
    border-radius: 15px;
    background-color: grey;
    border-color: aliceblue;
    border: 10px 10px solid;
    color: black;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.footer{
    background-color:slategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
h4{
    color: aliceblue;
}
.images{
    padding: 10px 10%;
    display: flex;
    flex-direction: row;
    
  
}