.gallery{
    padding: 10px 10%;
}

.div1,.div2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem; 
}
.btn{
    background-color: red;
    margin-bottom: 20%;
}