body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .main ul {
  float: right;
 
  /* margin: 20px;  */

} 
.main{
  background-color: slategrey;
 
}

.link{
 
  text-decoration: none;
  display: inline-block;
  color:red;
  padding:5px 20px; 
  border:1px solid transparent;
  margin: 5px;
 
}
.link:hover{
  color: black;
  background-color: azure;
}
.home{
  /* background-color: #fff; */
  color:black;
}
/* .main ul:hover
  background-color: #fff;
  color:black;
} */
.app{
  width: 1200px;
  height: 100%;
}
.title{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

.button{
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%)
}
.btn{
  border:1px solid #fff;
  padding: 10px 30px;
  color:black;
  margin:5px
  
}
.navlink{
 
  text-decoration: none; 
  font-size: 50px;
 
}
.contact,.book{
  display: flex;
   flex-direction: column; 
  align-items: center;
}
  input,textarea,select{
   display: block; 
  margin: 10px; 
  width: 30vw;
  height: 5vh;
} 
textarea{
  height: 10vh;
}
 .contact button,.book button{
  height:5vh;
  width:10%;
  margin-bottom: 70px;
}
@media (max-width:780px) {
  .main{
    max-width: 100%;
    height: 30vh;
  }
  .navlink{
 
    text-decoration: none; 
    font-size: 30px;
   
  }
  .link{
    display: block;
    
    
  }
  input,textarea,select{
    width: 50vw;
  }
  .contact button,.book button{
    width:15%;
  }
}